# Change File Name to config.env

API_ID = "9273637"
API_HASH = "925695c89ead21b9bf69b89e0a0006f8"
BOT_TOKEN = "5380229101:AAGr_yTWpczhFIFAE_gMHYWPlynAHlRwqHo"
TO_CHATS = "1455723631"
FROM_CHATS = "1096814670,1326411952"
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = "AQAzEhm2BrbErN4FPYjOzTqmE4NzUBcTBbRBMw5XkbJfEY_9pzPujZP13omGWZA9y1fd_LeoDx7Vi-CQJeGP_vosJXgTDpfq5VPVAt1rZEcwzWgb-c0lTi3ZHd2jBF78p5RU72ZLJBDFqaT8uP9XDIXjUnzacWZq6a8FfWphFUqtH-hx9CtsS2UXS3T-U3snfta9AVpP4xu23owaLFzmXkGQEEs4p8ehDb8oKXX42yd-If22Zfu0YAWRVVoHFELrskKPAYM4TuyXGXWKUTITHtrXePu4AZMthcErq3rgg2ef7_N_MMlWIrcDjFY4O1SCJrbC5AvTZ2jVbhiNC76Tu2haAAAAAHp22Z8A"
